* {
    box-sizing: border-box;
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

h1,
h2,
th,
.property {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

header {
    margin: 20px;
}

.main {
    position: relative;
    top: 100px;
}

#title {
    display: block;
    margin: 20px auto;
    width: 100%;
    padding: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}

#colors {
    position: relative;
    top: 100px;
    margin: 50px 20px;
}

#colors h2,
table {
    margin: 40px auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-collapse: collapse;
}

h1 {
    padding: 30px;
}

.name {
    float: left;
    font-weight: 400;
    text-decoration: underline overline;
    text-underline-offset: 30%;
    text-decoration-thickness: 2px;
    letter-spacing: 3px;
}

nav {
    display: block;
    width: 100%;
    text-align: right;
    padding: 20px 40px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
}

a {
    text-decoration: none;
    padding: 10px;
}

a:visited {
    color: white;
}

a:focus {
    border: 0.5px solid #a6a6a6;
    color: #a6a6a6;
    font-weight: 500;
    cursor: pointer;
}

a:hover {
    border: 0.5px solid #a6a6a6;
    color: #a6a6a6;
    font-weight: 500;
    cursor: pointer;
}

a:active {
    font-weight: 500;
    border: 0.5px solid yellow;
    color: yellow;
}



td,
th {
    padding: 30px;
    border: 0.5px solid #808080;
    line-height: 1.2;
}

img {
    height: 20px;
}

.snippet {
    height: 30px;
    width: 50px;
    border-radius: 10%;
    text-align: center;
    margin: auto;
}

/* Colors */

.scheme,
.degree {
    background-color: rgb(40, 40, 40)
}

.oro {
    background-color: #ffcc00;
}

.azure {
    background-color: #66ccff;
}

.flamingo {
    background-color: #d9325e;
}

.pine {
    background-color: #025920;
}

.royal {
    background-color: #253c59;
}

.navy {
    background-color: #2d4b73;
}

.ecru {
    background-color: #b38f00;
}

.slate {
    background-color: #95b3bf;
}

.leaf {
    background-color: #37a65e;
}

.taupe {
    background-color: #bfae9f;
}

.bark {
    background-color: #26150b;
}

.clay {
    background-color: #735848;
}

.mulberry {
    background-color: #8c2756;
}

.algae {
    background-color: #0f3b40;
}

.robin_egg {
    background-color: #6cced9;
}

.tiffany {
    background-color: #5fd9cd;
}

.sky {
    background-color: #8498BF;
}

.fog {
    background-color: #c2d7f2;
}

.deep_sea {
    background-color: #233240;
}

.concrete {
    background-color: #bacbd9;
}

.sandstone {
    background-color: #f2dcc9;
}

/* Fonts */
#fonts {
    display: block;
    margin: 200px 20px 100px;
    padding: 20px 0;
    text-align: center;
}

#font_table,
tr,
td {
    border: 0.5px solid #808080;
    border-collapse: collapse;
}

h3 {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 30%;
}

.font,
.font h3 {
    background-color: rgb(40, 40, 40);
    padding: 15px;
    margin: 0;
}

#ibm,
.ibm {
    font-family: 'IBM Plex Mono', monospace;
}

#montserrat,
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

#raleway,
.raleway {
    font-family: 'Raleway', sans-serif;
}

.normal {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

/* Text Styles */

#text_styles {
    display: block;
    margin: 50px 20px 100px;
    padding: 20px 0;
    text-align: center;
}

.section,
.property {
    font-weight: 400;
    background-color: rgb(40, 40, 40);
}